Paper/thesis.out
Paper/thesis.log
Paper/thesis.fls
Paper/thesis.fdb_latexmk
Paper/thesis.bbl
Paper/thesis.aux
Paper/thesis.synctex.gz
Paper/thesis.toc
Paper/thesis.acn
Paper/thesis.glo
Paper/thesis.glsdefs
Paper/thesis.ist
Paper/thesis.blg

Implementation/.venv/*
Implementation/compose.yaml
Implementation/RMLStreamer-v2.5.0.jar
meeting_notes.md
.venv
*.pyc

engine_output*
results-postgresql*
output.nt