<div  id="knowledge_graph_stats">
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
        .tg .tg-73oq{border-color:#000000;text-align:left;vertical-align:top}
    </style>
    <table class="tg" id="knowledge_graph_stats_table">
        <tbody>
        <tr>
            <td class="tg-0pky">#Subjects</td>
            <td class="tg-73oq">{{ SubjectsCount }}</td>
        </tr>
        <tr>
            <td class="tg-0pky">#Triples</td>
            <td class="tg-73oq">{{ TriplesCount }}</td>
        </tr>
        </tbody>
    </table>
</div>